<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</div>
  <p><strong>Events Created by <%= @user.name %></strong></p>
  <% @user_events.events_created.each do |event| %>
  <%# @user_events_created.each do |event| %>
    <ul>
      <li><%= event.name %></li>
    </ul>
  <% end %>
</div>

<br>

<div>
  <h3><strong>List of Events Attendance for <%= @user.name %></strong></h3>
  <div>
    <h4>Upcoming Events</h4>
    <% @user_events.attended_events.upcoming.each do |upcoming_event| %>
      <ul>
        <li><%= upcoming_event.name %></li>
      </ul>
    <% end %>
  </div>
  <div>
    <h4>Past Events</h4>
    <% @user_events.attended_events.past.each do |past_event| %>
      <ul>
        <li><%= past_event.name %></li>
      </ul>
    <% end %>
  </div>
</div>

<br>
<br>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
