<p id="notice"><%= notice %></p>

<hr>

<p>Event Creator: <strong> <%= @event.creator.name %> </strong></p>
<div>
  <% if current_user.attending?(@event)%>
     <%= link_to 'Cancel', attendances_path(event_id: @event.id), method: :delete,  class: "btn btn-danger" %>
  <%else %>
  <%= link_to 'Attend', attendances_path(event_id: @event.id), method: :post, class: "btn btn-success" %>
  <%end%>
</div>
 
<hr>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<hr>

<div><strong>List of Attendees</strong></div>

<% @event.attendees.each do |attendee| %>
  <p> <%= attendee.name %> </p>
<% end %>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
