<p id="notice"><%= notice %></p>

<hr>

<p>Event Creator: <strong> <%= @event.creator.name %> </strong></p>

<hr>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<hr>

<div><strong>List of Attendees</strong></div>
<% @event.attendees.each do |attendee| %>
  <p> <%= attendee.name %> </p>
<% end %>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
