<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <p>Signed in: <%= current_user.name %></p>
      <p>
        <span><%= link_to 'Sign out', logout_path, method: :delete %> </span>|
        <span> <%= link_to 'Create New Event', new_event_path %></span>
      </p>
    <% end %>

    <%= yield %>
  </body>
</html>
